<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571794410395-6nj9e81tgir5mfh0v3eohj0ngruaqva6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571794410395-6nj9e81tgir5mfh0v3eohj0ngruaqva6</string>
	<key>API_KEY</key>
	<string>AIzaSyAuEwyYXrCu61WZes-Z9qDSF-uI4EZJUOY</string>
	<key>GCM_SENDER_ID</key>
	<string>571794410395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.BMA</string>
	<key>PROJECT_ID</key>
	<string>bee-more-active</string>
	<key>STORAGE_BUCKET</key>
	<string>bee-more-active.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571794410395:ios:18ca31c0113ceab36f6f3e</string>
</dict>
</plist>